{% extends "templates/base.html" %}

{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}
  
      
<style>
  #formu{
      display: flex; 
      height: 100vh;
      justify-content: center;
      align-items: center;
  }

</style>

<div id="formu">
  <form method="POST" class="w-[600px] h-[200px] bg-white shadow-xl rounded-lg flex items-center gap-10 flex-col justify-center bg-[#262626]" style="border: 1px solid rgb(228, 228, 228); margin: 4%; padding:10%; border-radius:1%;">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy}}
      </fieldset>
    <center>
      <button style="border: solid 3px #00c943;" class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500  text-white hover:bg-[#19AF44]"  type="submit"> &nbsp; Login</button>
      <a href="/"><input type="button" style="border: solid 3px #0076c9;" class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500  text-white hover:bg-[#0076c9] "  value="Cancel"></a>
    </center>
    <br/>
   </form>
</div>

{% endblock content %}