{% extends "templates/base.html" %}

{% block content %}    
    
<style>
    #panel{
        display: flex; 
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    #logout{
        display: flex;
        justify-content: right;
    }

</style>



    <div id="panel">
        <div class="w-[400px] h-[600px] bg-white shadow-xl rounded-lg flex items-center gap-10 flex-col justify-center bg-[#262626]">
            <h1 class="text-white text-[34px]">PANEL ADMIN</h1>
            <div class="content-buttons flex flex-col w-[200px] gap-6 ">
                <a href="/start" style="border: solid 3px #0076c9;" class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500  text-white hover:bg-[#0076c9] " >INICIAR</a>
                <a href="/stop" style="border: solid 3px #8a000b;" class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500  text-white hover:bg-[#8a000b]" >DETENER</a>
                <a href="/restart" style="border: solid 3px #c96100;" class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500  text-white hover:bg-[#c96100]" >REINICIAR</a>
                <a href="/pull" style="border: solid 3px #820080;"  class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500 text-white hover:bg-[#820080]">GIT PULL</a>
            </div>
        </div>
    </div>
    
    
  {% endblock content %}
