<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    
    <style>

        body{

            display: flex; 
            justify-content: center;
            height: 100vh;
            align-items: center;
            background: #2e2e2e;
        }
    </style>

    <div class="w-[400px] h-[600px] bg-white shadow-xl rounded-lg flex items-center gap-10 flex-col justify-center bg-[#262626]">

        <h1 class="text-white text-[34px]">PANEL ADMIN</h1>
        <div class="content-buttons flex flex-col w-[200px] gap-6 ">
            <button style="border: solid 3px #0076c9;" class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500  text-white hover:bg-[#0076c9] " onclick="location.href='/start'">INICIAR</button>
            <button style="border: solid 3px #8a000b;" class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500  text-white hover:bg-[#8a000b]" onclick="location.href='/stop'">DETENER</button>
            <button style="border: solid 3px #c96100;" class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500  text-white hover:bg-[#c96100]" onclick="location.href='/restart'">REINICIAR</button>
            <button style="border: solid 3px #820080;"  class="button text-bold px-8 py-5 rounded-xl shadow-lg transition-all duration-500 text-white hover:bg-[#820080]" onclick="location.href='/pull'">GIT PULL</button>
        </div>
    </div>

  </body>
</html>
